LIZMAP_PROJECTS=/tmp/lizmap/docker-compose/lizmap/instances
LIZMAP_DIR=/tmp/lizmap/docker-compose/lizmap
LIZMAP_UID=1000
LIZMAP_GID=1000
LIZMAP_VERSION_TAG=3.5
QGIS_VERSION_TAG=3.16
POSTGIS_VERSION=13-3
POSTGRES_PASSWORD=postgres
QGIS_MAP_WORKERS=1
WPS_NUM_WORKERS=1
LIZMAP_PORT=80
OWS_PORT=127.0.0.1:8091
WPS_PORT=127.0.0.1:8092
POSTGIS_PORT=127.0.0.1:5432
POSTGIS_ALIAS=db.lizmap
PRODUCTION=TRUE
PROCESSES=6
THREADS=10
MAPPROXY_USER_ID=1000
MAPPROXY_GROUP_ID=1000